@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */
body {
    font-family: 'Ubuntu', sans-serif;
}

.logo-custom {
    font-size: 1.3rem !important;
}

.mtcn-collap {
    padding: 0.5rem;
    margin: 0;
}

.mtcn-detail-collap {
    padding: 1rem;
}

.mtcn-btn {
    padding-left: 10px;
}

/* ---------------------------------------------------
    Media Queries
----------------------------------------------------- */

@media(min-width: 993px) {
    .logo-custom {
        padding-left: 20px !important;
        font-size: 2.1rem !important;
    }
}