{% extends 'base.html' %} {% block content %}
<h4>New Cancel Request</h4>
<div class="row">
    {% if action == "edit" %}
    <form action="{{ url_for('update_records') }}" method="POST" class="col s12">
    {% else %}
    <form action="{{ url_for('create_records') }}" method="POST" class="col s12">
    {% endif %}
        <input type="hidden" id="customer_id" name="customer_id" value="{{customer._id}}">
        {% if action == "edit" %}
        <input type="hidden" id="payout_id" name="payout_id" value="{{payout._id}}">
        {% endif %}
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">account_circle</i>
                {% if action == "add" %}
                <input id="recipient_name" name="recipient_name" type="text" value="{{customer.recipient_name}}" disabled required>
                {% elif action == "edit" %}
                <input id="recipient_name" name="recipient_name" type="text" value="{{customer.recipient_name}}" required>
                {% else %}
                <input id="recipient_name" name="recipient_name" type="text" required>
                {% endif%}
                <label for="recipient_name">Recipient Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">language</i>
                {% if action == "add" %}
                <input id="country" name="country" type="text" value="{{customer.country}}" disabled required>
                {% else %}
                <select id="country" name="country" required>
                    {% if action == "edit" %}
                    <option value="{{customer.country}}" selected>{{customer.country}}</option>
                    {% else %}
                    <option value="" disabled selected>Choose destination country</option>
                    {% endif %}
                    {% for country in countries %}
                        {% if country.country_name != customer.country%}
                        <option value="{{country.country_name}}">{{country.country_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% endif %}
                <label for="country">Country</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">vpn_key</i>
                {% if action == "edit" %}
                <input id="mtcn" name="mtcn" type="number" value="{{payout.mtcn}}" required>
                {% else %}
                <input id="mtcn" name="mtcn" type="number" required>
                {% endif %}
                <label for="mtcn">MTCN</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">attach_money</i>
                {% if action == "edit" %}
                <input id="amount_sent" name="amount_sent" type="number" step="0.01" value="{{payout.amount_sent}}" required>
                {% else %}
                <input id="amount_sent" name="amount_sent" type="number" step="0.01" required>
                {% endif %}
                <label for="amount_sent">Amount Sent</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">cancel</i>
                <select id="reason_to_cancel" name="reason_to_cancel" required>
                    {% if action == "edit" %}
                    <option value="{{payout.reason_to_cancel}}" selected>{{payout.reason_to_cancel}}</option>
                    {% else %}
                    <option value="" selected disabled>Choose Reason to Cancel</option>
                    {% endif %}
                    {% for reason in reasons %}
                        {% if reason.name != payout.reason_to_cancel%}
                        <option value="{{reason.name}}">{{reason.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="reason_to_cancel">Reason to Cancel</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix teal-text text-darken-3">today</i>
                {% if action == "edit" %}
                <input id="sent_date" name="sent_date" type="text" class="datepicker" value="{{payout.sent_date}}" required>
                {% else %}
                <input id="sent_date" name="sent_date" type="text" class="datepicker" required>
                {% endif %}
                <label for="sent_date">Sent Date</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Save
                <i class="material-icons left">save</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}